/node_modules
Homestead.yaml
Homestead.json
.env
/.idea
/.buildpath
/.project
/.settings/org.eclipse.php.core.prefs
/.settings/org.eclipse.wst.common.project.facet.core.xml
/.settings
DF_PHP/*
/vendor
composer.lock
/vendor
/.idea
/public/.htaccess
/public/storage
/public/ckfinder
nohup.out

